{% extends "base.html" %}

{% block title %}{{ is_edit|yesno:'Editar,Criar' }}{% endblock %}

{% block content %}

<div class="container">
    
    <h2 class="mt-4 mb-4">{{ is_edit|yesno:'Editar,Criar' }} Usuário</h2>

    <form action="{% url is_edit|yesno:'user_update,user_insert' %}" method="POST">
        
        {% csrf_token %}

        {% if is_edit %}
            <input type="number" name="id" value="{{ usuario.id }}" hidden class="d-none" required>
        {% endif %}

        <div class="row">

            <div class="col-4 form-group">
                <label>Nome</label>
                <input type="text" name="nome" class="form-control" value="{{ usuario.nome }}" placeholder="Nome" maxlength="60" required>
            </div>
            
            <div class="col-4 form-group">
                <label>Data de Nascimento</label>
                <input type="date" name="data_nascimento" class="form-control" value="{{ usuario.data_nascimento|date:"Y-m-d" }}" required>
            </div>

            <div class="col-4 form-group">
                <label>Sexo</label>
                <select name="sexo" class="form-control" required>
                    <option value="">Selecione</option>
                    <option {% if usuario.sexo == 'm' %}selected{% endif %} value="m">Masculino</option>
                    <option {% if usuario.sexo == 'm' %}selected{% endif %} value="m">Feminino</option>
                </select>
            </div>
            
        </div>

        <div class="row">

            <div class="col-4 form-group">
                <label>UF</label>
                {% comment %} <input type="text" name="uf" class="form-control" value="{{ usuario.uf }}" placeholder="Estado" maxlength="2" required> {% endcomment %}
                <select name="uf" class="form-control" required>
                    <option value="">Selecione</option>
                    <option {% if usuario.uf == 'AC' %}selected{% endif %} value="AC">Acre</option>
                    <option {% if usuario.uf == 'AL' %}selected{% endif %} value="AL">Alagoas</option>
                    <option {% if usuario.uf == 'AP' %}selected{% endif %} value="AP">Amapá</option>
                    <option {% if usuario.uf == 'AM' %}selected{% endif %} value="AM">Amazonas</option>
                    <option {% if usuario.uf == 'BA' %}selected{% endif %} value="BA">Bahia</option>
                    <option {% if usuario.uf == 'CE' %}selected{% endif %} value="CE">Ceará</option>
                    <option {% if usuario.uf == 'DF' %}selected{% endif %} value="DF">Distrito Federal</option>
                    <option {% if usuario.uf == 'ES' %}selected{% endif %} value="ES">Espírito Santo</option>
                    <option {% if usuario.uf == 'RR' %}selected{% endif %} value="RR">Roraima</option>
                    <option {% if usuario.uf == 'GO' %}selected{% endif %} value="GO">Goiás</option>
                    <option {% if usuario.uf == 'MA' %}selected{% endif %} value="MA">Maranhão</option>
                    <option {% if usuario.uf == 'MT' %}selected{% endif %} value="MT">Mato Grosso</option>
                    <option {% if usuario.uf == 'MS' %}selected{% endif %} value="MS">Mato Grosso do Sul</option>
                    <option {% if usuario.uf == 'MG' %}selected{% endif %} value="MG">Minas Gerais</option>
                    <option {% if usuario.uf == 'PA' %}selected{% endif %} value="PA">Pará</option>
                    <option {% if usuario.uf == 'PB' %}selected{% endif %} value="PB">Paraíba</option>
                    <option {% if usuario.uf == 'PR' %}selected{% endif %} value="PR">Paraná</option>
                    <option {% if usuario.uf == 'PE' %}selected{% endif %} value="PE">Pernambuco</option>
                    <option {% if usuario.uf == 'PI' %}selected{% endif %} value="PI">Piauí</option>
                    <option {% if usuario.uf == 'RJ' %}selected{% endif %} value="RJ">Rio de Janeiro</option>
                    <option {% if usuario.uf == 'RN' %}selected{% endif %} value="RN">Rio Grande do Norte</option>
                    <option {% if usuario.uf == 'RS' %}selected{% endif %} value="RS">Rio Grande do Sul</option>
                    <option {% if usuario.uf == 'RO' %}selected{% endif %} value="RO">Rondônia</option>
                    <option {% if usuario.uf == 'TO' %}selected{% endif %} value="TO">Tocantins</option>
                    <option {% if usuario.uf == 'SC' %}selected{% endif %} value="SC">Santa Catarina</option>
                    <option {% if usuario.uf == 'SP' %}selected{% endif %} value="SP">São Paulo</option>
                    <option {% if usuario.uf == 'SE' %}selected{% endif %} value="SE">Sergipe</option>
                    <option {% if usuario.uf == '99' %}selected{% endif %} value="99">Estrangeiro</option>
                </select>
            </div>

            <div class="col-4 form-group">
                <label>Cidade</label>
                <input type="text" name="cidade" class="form-control" value="{{ usuario.cidade }}" placeholder="Cidade" maxlength="40" required>
            </div>

            <div class="col-4 form-group">
                <label>Setor</label>
                <input type="text" name="setor" class="form-control" value="{{ usuario.setor }}" placeholder="Setor" maxlength="40" required>
            </div>

        </div>

        <div class="row">

            <div class="col-8 form-group">
                <label>Lougradouro</label>
                <input type="text" name="lougradouro" class="form-control" value="{{ usuario.lougradouro }}" placeholder="Lougradouro" maxlength="60" required>
            </div>

            <div class="col-4 form-group">
                <label>Número</label>
                <input type="number" name="numero" class="form-control" value="{{ usuario.numero }}" placeholder="Número" required>
            </div>

        </div>

        <button class="btn btn-success" type="submit">Salvar</button>

    </form>

</div>

{% endblock %}