{% extends "base.html" %}

{% block title %}Lista{% endblock %}

{% block content %}

<div class="container">

    {% include 'partials/alert.html' %}
    
    <div class="row">
        <div class="col-6">
            <h2 class="mt-4 mb-4">Lista de Alergias de {{ usuario.nome }}</h2>
        </div>
        <div class="col-6">
            <a href="{% url 'allergy_create' usuario_id=usuario.id %}" class="btn btn-success float-right p-3 mt-3 mb-3">Cadastrar Alergia</a>
        </div>
    </div>
    
    <div class="table-responsive">
        <table class="table table-striped text-center">
    
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
            </thead>
    
            <tbody>
    
                {% for alergia in alergias %}
                    <tr>
                        <td>{{ alergia.id }}</td>
                        <td>{{ alergia.nome }}</td>
                        <td>
                            <a href="{% url 'allergy_delete' usuario_id=usuario.id id=alergia.id %}" class="btn btn-danger" title="Deletar"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
    
            </tbody>
    
        </table>
    </div>

</div>

{% endblock %}